include ../components/submit-button.pug
include ../components/csrf.pug
include ../components/hcaptcha.pug

p Scan this QR code with your app:
img(src=qrDataUrl, alt="QR code to enroll")

p Or enter this secret:

pre
    code= rawSecret

p
    strong Done?
    | &nbsp;Enter the code shown in the app:

form(method="post", action="/account/2fa/enroll?type=totp")
    +csrf_input(csrf)

    label(for="token") Code
    input#token(name="token", type="text", required)

    +hcaptcha
    +submit_button
