extends ../layouts/main

block title
    | Configure Passkey

block header
    p
        a(href="/") Back home
    h1 Passkey setup

block content
    if !ready
        p You need to set up a security key as a second authentication factor first.
        p Come back here once you've done that!
        p
            a.button(href="/account/2fa/enroll?type=key") Set up
    else if !configured
        p You're setting up your security key as a&nbsp;
            strong
                a(href="https://passkeys.dev/", target="_blank") passkey
            | .
        p You'll be able to log in with this key (instead of a password), and all 2nd authentication factors will be ignored.
        p You will&nbsp;
            strong not
            | &nbsp;be able to sign in with your password anymore.

        p
            a.button(href="/account/2fa/passkey/enroll") Set up
    else
        p Your account is set up to sign in with a passkey!
        p If you'd like to disable this, please contact the PalAuth admin.
