extends ../layouts/main
include ../components/scope_label

block title
    | Home

block header
    h1 Hi!
    p You're signed in as #{user.displayName}

block content
    p
        | Had enough Pal?&nbsp;
        a(href="/auth/signout") Sign out

    p Your user ID is:&nbsp;
        code= user.id

    if publicClients.length > 0
        h3 Launch
        p Click on a service to launch it
        each cc in publicClients
            p
                a(href=cc.generateInitiateURI())= cc.getClient().name

    h3 Settings
    p
        a(href="/account/2fa") Configure two-factor authentication

    h3 Developers
    p
        a(href="/dev") Manage OAuth/OIDC apps

    if scopesByClient.length > 0
        h3 My applications
        each clientMapping in scopesByClient
            h4= clientMapping.client.name
            a(href="/account/revoke-grants/" + clientMapping.client.clientId) Revoke access

            +scope_list(clientMapping.scopes)
