extends ../../layouts/main
include ../../components/csrf
include ../../components/submit-button
include ../../components/hcaptcha

block title
    | Assign permission to role

block header
    p
        a(href="/dev/" + client.clientId + "/iam") IAM
    h1 Assign permission to #{role.name}

block content
    form(action="/dev/" + client.clientId + "/iam/roles/" + role.id + "/assign", method="post")
        +csrf_input(csrf)
        label(for="permission") Permission
        select#permission(name="permissionId", required)
            each permission in permissions
                option(value=permission.id)= permission.name

        +hcaptcha
        +submit_button
