extends ../layouts/main

block title
    | Sign out

block header
    h1 Signing out
    p You're signed in as&nbsp;
        strong #{user.displayName}

block content
    if appName
        p You're signing out of #{appName}
    else
        p You've signed out of an app that uses PalAuth

    p Would you also like to sign out of PalAuth itself?

    p
        a.button(href="/auth/signout") Sign out
    p
        a.button(href="/") Cancel
