extends ../layouts/main

block title
    | Manage apps for #{group.displayName}

block header
    p
        a(href="/groups") All groups
    h1 Manage apps
    p Manage which OIDC apps are sent membership data for&nbsp;
        strong= group.displayName

block content
    p
        a.button(href="/groups/" + group.id + "/apps/assign") Add app

    ul
        each client of group.onlyApplyTo
            li= client.name
