extends layouts/main
include components/scope_label

block title
    | Home

block header
    h1 Hi!
    p You're signed in as #{user.displayName}

block content
    p
        | Had enough Pal?&nbsp;
        a(href="/auth/signout") Sign out

    if scopesByClient.length > 0
        h3 My applications
        each clientMapping in scopesByClient
            h4= clientMapping.client.name
            a(href="/account/revoke-grants/" + clientMapping.client.clientId) Revoke access

            +scope_list(clientMapping.scopes)
