extends layouts/main

block prepend title
    | Sign in

block header
    h1 Sign in
    p One account, all of Pal

block content
    form(method="post", action="/signin")
        label(for="email") Email address
        input#email(type="email", name="email")

        label(for="password") Password
        input#password(type="password", name="password")

        br
        input(type="submit", value="Pal!")