mixin hcaptcha
    if disableCaptcha
        p DEV: captcha disabled
    else
        div.frc-captcha(data-puzzle-endpoint=captchaURL+"/puzzle.php", data-sitekey="palauth")
        script(type="module", src="https://cdn.jsdelivr.net/npm/friendly-challenge@0/widget.module.min.js", async, defer)
