mixin two_fa_label(factor)
    if typeof factor === "string"
        if factor === "SecurityKey"
            | Security key
        else if type === "TOTP"
            | Authenticator app
        else
            | Unknown
    else
        - const type = factor.type
        if type === "SecurityKey"
            | Security key (#{factor.keyNickname})
        else if type === "TOTP"
            | Authenticator app
        else
            | Unknown
