mixin two_fa_label(factor)
    - const type = factor.type
    if type === "SecurityKey"
        | Security key (#{factor.keyNickname})
    else if type === "TOTP"
        | Authenticator app
    else
        | Unknown
