extends ../layouts/main
include ../components/csrf.pug
include ../components/hcaptcha.pug
include ../components/submit-button.pug

block title
    | Recover your password

block header
    h1 Reset your password

block content
    p Enter your email address, and we'll send you a reset link.

    form(method="post")
        +csrf_input(csrf)

        label(for="email") Email address
        input(id="email", name="email", type="email", required)

        +hcaptcha
        +submit_button
