extends ../layouts/main
include ../components/csrf.pug
include ../components/hcaptcha.pug
include ../components/submit-button.pug

block title
    | Recover your password

block header
    h1 Recover your password

block content
    p If that email exists, we sent you a code! It will expire within 10 minutes.
    p Please enter it here to reset your password:

    form(method="post")
        +csrf_input(csrf)

        input(type="hidden", name="email", value=email)

        label(for="code") Verification code
        input(type="password", name="code", id="code", autocomplete="off")

        label(for="password") New password
        input(type="password", name="password", id="password", autocomplete="new-password")

        label(for="passwordConfirm") Confirm new password
        input(type="password", name="passwordConfirm", id="passwordConfirm", autocomplete="new-password")

        +hcaptcha
        +submit_button

    p Didn't receive an email?&nbsp;
        a(href="/auth/recover/password") Try again
