extends ../layouts/main
include ../components/csrf
include ../components/hcaptcha
include ../components/submit-button

block title
    | Sign in

block header
    h1 Sign in
    p One account, all of Pal

block content
    form(method="post", action="/auth/signin")
        +csrf_input(csrf)

        label(for="email") Email address
        input#email(type="email", name="email", required)

        label(for="password") Password
        input#password(type="password", name="password")

        +hcaptcha

        +submit_button

    p
        | Need an account?&nbsp;
        a(href="/auth/signup") Create one!